<h1>Welcome Home</h1>

<mat-card class="example-card">
  <mat-card-title-group>
    <mat-card-title [routerLink]="['/service-providers']" class="header"
      >Service Providers</mat-card-title
    >

    <img
      mat-card-sm-image
      src="https://res.cloudinary.com/urbanclap/image/upload/q_auto,f_auto,fl_progressive:steep,w_532/t_high_res_category/categories/home_screen/carpenter.jpg"
    />
  </mat-card-title-group>
  <mat-card-content>
    {{ description }}
  </mat-card-content>
</mat-card>
